$accent: #8d99ae;
$accent-lighten-5: lighten($accent, 5%);
$accent-lighten-10: lighten($accent, 10%);
$accent-lighten-20: lighten($accent, 20%);
$accent-lighten-40: lighten($accent, 40%);
$accent-darken-5: darken($accent, 5%);
$accent-darken-10: darken($accent, 10%);
$accent-darken-20: darken($accent, 20%);
$accent-darken-40: darken($accent, 40%);
$active: #469ac3;
$alert: #eb343c;
$alert-light: lighten($alert, 5%);
$alert-dark: darken($alert, 5%);
$success: #94cc86;
$success-light: lighten(#94cc86, 5%);
$success-dark: darken(#94cc86, 5%);
$warning: #fcb716;
$warning-light: lighten($warning, 5%);
$warning-dark: darken($warning, 5%);
$warning-darken-20: darken($warning, 20%);
$warning-darken-40: darken($warning, 40%);
$text-primary: #363b4d;
$text-secondary: #5f6475;
$text-accent: #8d99ae;
$focus-border: rgba(0, 166, 224);
$focus-shadow: 0px 0px 3px 1px rgba(0, 166, 224, 1);
$focus-outline: 0px 0px 0px 2px rgba(0, 166, 224, 1);
$menu: #2b376b;
$menu-brand: #262d4c;
$border: #d1d8e3;
$border-light: lighten(#d1d8e3, 7%);
$selector-icon: #5f6475;
$icon: #8d99ae;
$dialog-header: #f8f9fb;
$transparent: transparent;
$unset: unset;
