<div
  *ngIf="navbarStateService.$data().isMobile"
  class="mobile-header"
  [class.menu-expanded]="navbarStateService.$data().expanded"
>
  <button mat-icon-button (click)="onToggleMenuClicked()">
    <mat-icon class="mobile-menu-icon">{{
      navbarStateService.$data().expanded ? 'close' : 'menu'
    }}</mat-icon>
  </button>

  <pal-header *ngIf="navbarStateService.$data().expanded"></pal-header>
</div>

<ul
  *ngIf="
    !navbarStateService.$data().isMobile || navbarStateService.$data().expanded
  "
  [class.expanded]="navbarStateService.$data().expanded"
>
  <li *ngFor="let item of navbarStateService.$data().navlinks">
    <a
      [routerLink]="item.path"
      [queryParamsHandling]="item.queryParamsHandling"
      routerLinkActive="active-page"
      [class.has-icon]="!!item.icon"
    >
      <mat-icon *ngIf="!navbarStateService.$data().expanded || item.icon">{{
        item.icon
      }}</mat-icon>
      <div
        [class.show]="navbarStateService.$data().expanded"
        class="nav-item-text menu-item-wrapper"
      >
        <div class="menu-item-title">{{ item.name }}</div>
      </div>
    </a>
  </li>
</ul>

<div *ngIf="!navbarStateService.$data().isMobile" class="navigation-bottom">
  <mat-divider></mat-divider>

  <button
    type="button"
    class="expand-menu"
    [class.menu-expanded]="navbarStateService.$data().expanded"
    (click)="onToggleMenuClicked()"
    mat-icon-button
    [matTooltip]="
      navbarStateService.$data().expanded ? 'Collapse Menu' : 'Expand Menu'
    "
  >
    <mat-icon>
      {{
        navbarStateService.$data().expanded
          ? 'keyboard_arrow_left'
          : 'keyboard_arrow_right'
      }}
    </mat-icon>
  </button>
</div>
