@use "themes";

.drop-zone {
  color: themes.$text-secondary;
  border-color: themes.$border;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  background: rgba(255, 255, 255, 0.85);
  width: 100%;
  height: 100%;
  font-size: 0.875em;
  z-index: 2000;

  .drop-message {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
}
